.custom-drawer {
    --ground: 2000;
    --idle: transparent;
    --hover: var(--background-lifted-grey-hover);
    --active: var(--background-lifted-grey-active);
    background-color: var(--background-lifted-grey);
    filter: drop-shadow(var(--lifted-shadow));
    pointer-events: all;
    position: fixed;
}

.custom-drawer--bottom {
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90%;
}

.custom-drawer--right {
    bottom: 0;
    right: 0;
    top: 0;
    width: 50%;
}

.custom-drawer__backdrop {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 9%, 0.64);
}
